.tarolo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    border: 2px solid #33331e;
    margin: 10px;
}
.kep {
    padding: 10px;
}
.szoveg {
    padding: 10px;
    border: 3px solid #4e4e33;
}
.esemeny {
    font-weight: bold;
    border: 2px solid #979776;
    font-style: italic;
}
@media screen and (max-width: 765px) {
    .main{
        grid-template-columns: 1fr; 
    }
}